<h2>What is EloForge?</h2>
<p>EloForge is a player improvement tool aimed at helping players willing to help themselves.  We use data obtained from the Riot Games API to provide you with game-by-game feedback, pointing out your strengths and weaknesses after each game.</p>

<h2>Why should I use EloForge?</h2>
<p>A huge part of improving in anything is recognizing when you make mistakes.  Having a friend point out your mistakes can get awkward, while doing it yourself makes it more difficult.  EloForge provides a way to learn from your mistakes without fear of criticism.</p>

<h2>Why do i have to create an account?</h2>
<p>For privacy.  We don't want EloForge to be used as a way to shame people for their short-comings in queue.  When you create and verify your account, you can  </p>

<h3>EloForge is a tool.  Just like any tool if you use it incorrectly it will not work. The more consistent and objective-focused you are with your practice, the faster you will improve.</h3>
