
<h2>Welcome!</h2>
<p>Thanks for stopping by!  Our site is currently under development with plans to submit a request to riot for a production license on July 8th 2015. Follow us on twitter <%= link_to "@EloForge", "https://twitter.com/eloforge" %> for daily updates.</p>



<!-- If logged in show  -->