
<h3>Evaluate your last game now!</h3>
<%= form_tag("search", method: "post") do %>
  <%= text_field_tag(:search, nil, placeholder: 'Summoner Name') %>
  <%= select 'servers' , 'server', %w(NA EUW EUNE KR BR LAN LAS OCE RU TR), :include_blank => false%>
  <%= submit_tag("Go") %>
<% end %>
<%#<h3>Log in or Register to view your full profile analysis.</h3>%>
