// Place all the styles related to the summoner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#topBar
{
min-width: 180px;
max-width: 1480px;
width: 100%;
margin-left: auto;
margin-right: auto;
text-align: center;
}

@import "font-awesome-sprockets";
@import "font-awesome";